.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background-color:  rgb(0, 0, 0);
  color: #fd0000f7;
}

.brand {
  font-size: 26px;
  font-weight: bold;
  font-family: "Fantasy";
}

.topnav a {
  float: left;
  display: flex;
  color: #ff0000;
  text-align: center;
  padding: 15px 17px;
  font-weight: bold;
  font-size: 17px;
  font-family: "Fantasy";
}

.topnav a:hover {
  background-color: #f5fab1e2;
  color: rgb(255, 3, 3);
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar input[type="text"] {
  padding: 5px;
  border: outset rgba(15, 65, 245, 0.385);
  border-radius: 5px;
}

.search-btn {
  padding: 8px 15px;
  background-color: #09e83da0;
  border: outset rgba(9, 16, 231, 0.344);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;

&:hover {
  background-color: #e67e22;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 15px
}
}

.signup-btn {
  padding: 8px 15px;
  background-color: #e42510;
  border: outset rgba(9, 16, 231, 0.344);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #e67e22;
  }
}












